site_name: OPEN-ISE-24-4
site_url: https://MaxizYB.github.io/NJU-ISE-24/
markdown_extensions:
  - admonition
  - attr_list
  - codehilite:
      guess_lang: false
      linenums: false
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.tasklist:
      custom_checkbox: true
theme:
  name: material
  custom_dir: overrides
  features:
    - navigation.instant
    - navigation.tabs
  font:
    text: Merriweather Sans
    code: Roboto Mono
  palette:
    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: deep purple
      accent: deep orange
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: deep purple
      accent: deep purple
extra_javascript:
  - https://utteranc.es/client.js